/* 榮譽列表樣式 */
.honors-list {
    list-style: none;
    /* 移除默認列表樣式 */
    padding: 0;
}

.honors-list li {
    font-size: 1.1em;
    line-height: 2.0;
    margin-bottom: 0;
    color: var(--text-color);
    padding-left: 2em;
    /* 整體縮進 */
    text-indent: -2em;
    /* 懸掛縮進，使第二行開始有縮進 */
    position: relative;
}

/* 發表文章列表樣式 */
.publications-list {
    list-style: none;
    padding: 0;
}

.publications-list li {
    font-size: 1.1em;
    line-height: 2.0;
    margin-bottom: 20px;
    color: var(--text-color);
    padding-left: 2em;
    /* 整體縮進 */
    text-indent: -2em;
    /* 懸掛縮進，使第二行開始有縮進 */
    text-align: justify;
}